.cta__container {
  display: flex;
  flex-direction: column;
  width: 82.41%;
  margin: 0 0 0 auto;
}

@media screen and (max-width: 1280px) {
  .cta__container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .cta__container {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}
