.cta__button {
  height: 32px;
  width: 150px;
  margin: 40px 0 0 0;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .cta__button {
    height: 24px;
    width: 140px;
    font-size: 12px;
  }
}
