.hero__title {
  margin: 0;
  font-size: 50px;
  font-weight: 500;
  line-height: 66px;
  letter-spacing: 1px;
  color: #091133;
}

@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 36px;
    line-height: 48px;
  }
}
