.pricing__button {
  margin: 0.4% 0 0 0;
  height: 32px;
  width: 189px;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .pricing__button {
    height: 24px;
    width: 160px;
    font-size: 12px;
  }
}
