# -------------------------------
# Place this file in /wp-content/
# -------------------------------

# Deny everyone access by default

Order deny,allow
Deny from all


# Allow Images, JS, and CSS

<Files ~ ".(css|jpe?g|jpg|JPG|png|gif|js|pdf|swf|php|mp3|flv|html|xml|woff|ttf|eot|woff2)$">
Allow from all
</Files>
