@import url("./fonts/roboto.css");
@import url("./blocks/button/button.css"); /*{font-size, font-weight, line-height}*/
@import url("blocks/button/_color/_white/_white.css");
@import url("blocks/button/_color/_dark-blue/_dark-blue.css");
@import url("./blocks/text-logo/text-logo.css");
@import url("./blocks/navigation/navigation.css");
@import url("blocks/text-block/text-block.css");
@import url("blocks/header/header.css");
@import url("blocks/mobile-login/mobile-login.css");
@import url("blocks/card/card.css");
@import url("blocks/intro/intro.css");
@import url("blocks/cta/cta.css");
@import url("blocks/pricing/pricing.css");
@import url("blocks/footer/footer.css");
@import url("blocks/icons/icons.css");

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
}

.hero-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1103px;
  width: 100%;
  background-image: url("./images/hero.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.main {
  width: 100%;
}

.hero {
  width: 100%;
  padding: 243px 0 379px 163px;
  box-sizing: border-box;
}

.hero__container {
  width: 539px;
}

.hero__title {
  margin: 0;
  font-size: 50px;
  font-weight: 500;
  line-height: 66px;
  letter-spacing: 1px;
  color: #091133;
}

.hero__paragraphs {
  margin: 20px 0 0 0;
}

.hero__paragraph {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: #505f98;
}

.hero__paragraph:not(:first-child) {
  margin: 14px 0 0 0;
}

.hero__button-container {
  display: flex;
  margin: 69px 0 0 0;
}

.hero__button {
  height: 36px;
  width: 189px;
  font-size: 16px;
  font-weight: 500;
}

.hero__button:not(:first-child) {
  margin: 0 0 0 30px;
}
