@import url("./fonts/roboto.css");
@import url("./blocks/button/button.css"); /*{font-size, font-weight, line-height}*/
@import url("blocks/button/_color/_white/_white.css");
@import url("blocks/button/_color/_dark-blue/_dark-blue.css");
@import url("./blocks/text-logo/text-logo.css");
@import url("./blocks/navigation/navigation.css");
@import url("blocks/text-block/text-block.css");
@import url("blocks/card/card.css");

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
}

.hero-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1103px;
  width: 100%;
  background-image: url("./images/hero.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  align-items: center;
  height: 60px;
  /*width: calc(100% - 330px);*/
  width: 100%;
  padding: 0 165px;
  box-sizing: border-box;
}

.header__navigation {
  margin: 0 auto 0 0;
  max-width: 245px;
}

.header__text-logo {
}

.header__button {
  margin: 0 0 0 auto;
  height: 26px;
  width: 160px;
  font-size: 12px;
  line-height: 18px;
}

.main {
  width: 100%;
}

.hero {
  width: 100%;
  padding: 243px 0 379px 163px;
  box-sizing: border-box;
}

.hero__container {
  width: 539px;
}

.hero__title {
  margin: 0;
  font-size: 50px;
  font-weight: 500;
  line-height: 66px;
  letter-spacing: 1px;
  color: #091133;
}

.hero__paragraphs {
  margin: 20px 0 0 0;
}

.hero__paragraph {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: #505f98;
}

.hero__paragraph:not(:first-child) {
  margin: 15px 0 0 0;
}

.hero__button-container {
  display: flex;
  margin: 69px 0 0 0;
}

.hero__button {
  height: 36px;
  width: 189px;
  font-size: 16px;
  font-weight: 500;
}

.hero__button:not(:first-child) {
  margin: 0 0 0 30px;
}

.mobile-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 742px;
  width: 100%;
  padding: 116px 165px;
  box-sizing: border-box;
}

.mobile-login__container {
  display: flex;
  flex-direction: column;
  width: 540px;
}

.mobile-login__card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 49px 0 0 0;
}

.mobile-login__card:nth-child(2n) {
  margin-left: 30px;
}

.mobile-login__card:nth-child(n-3) {
  margin-top: 30px;
}

.mobile-login__image {
  width: 540px;
}

.intro {
  min-height: 558px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, calc(100% / 2));
  padding: 120px 165px 130px 165px;
  box-sizing: border-box;
}

.intro__image {
  width: 480px;
  margin: 0 auto;
}

.intro__text-block {
  margin-left: auto;
  width: 445px;
}
