.mobile-login__container {
  display: flex;
  flex-direction: column;
  width: 49.09%;
  min-width: 540px;
}

@media screen and (max-width: 1280px) {
  .mobile-login__container {
    margin: 5% 0 0 0;
    width: 100%;
    min-width: auto;
    order: 2;
  }
}

@media screen and (max-width: 1024px) {
  .mobile-login__container {
  }
}
