.text-block__paragraph {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  color: #6f7cb2;
}

.text-block__paragraph:not(:first-child) {
  margin: 10px 0 0 0;
}

@media screen and (max-width: 768px) {
  .text-block__paragraph {
    font-size: 14px;
    line-height: 23px;
  }

  .text-block__paragraph:not(:first-child) {
    margin: 6px 0 0 0;
  }
}
