.pricing__body {
  margin: 4.35% 0 0 0;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #5D6970;
}

@media screen and (max-width: 768px) {
  .pricing__body {
    font-size: 10px;
    line-height: 16px;
  }
}
