@import url("./__container/__container.css");
@import url("./__title/__title.css");
@import url("./__paragraphs/__paragraphs.css");
@import url("./__paragraph/__paragraph.css");
@import url("./__button-container/__button-container.css");
@import url("./__button/__button.css");

.hero {
  width: 100%;
  padding: 16.88% 0 26.32% 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .hero {
    padding: 10% 0 16% 0;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    padding: 5% 0 8% 0;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    width: 80%;
    padding: 15% 0 5% 0;
  }
}

@media screen and (max-width: 375px) {
  .hero {
    width: 90%;
    padding: 15% 0 5% 0;
  }
}
