.intro__image_size_a {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .intro__image_size_a {
    width: 85%;
  }
}

@media screen and (max-width: 480px) {
  .intro__image_size_a {
    width: 100%;
  }
}
