.footer__button {
  margin: 0 0 0 auto;
  height: 26px;
  width: 109px;
  font-size: 12px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .footer__button {
    height: 24px;
    width: 160px;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .footer__button {
    margin: 20px auto 0 auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }
}
