.header__button {
  margin: 0 0 0 auto;
  height: 26px;
  width: 160px;
  font-size: 12px;
  line-height: 18px;
}

@media screen and (max-width: 768px) {
  .header__button {
    height: 24px;
    width: 160px;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .header__button {
    margin: 10px auto 0 auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
  }
}
