@import url("./__text-block/__text-block.css");
@import url("./__title/__title.css");
@import url("./__body/__body.css");
@import url("./__price/__price.css");
@import url("./__button/__button.css");

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../images/pricing__background.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 208px 0 264px 0;
}
