@import url("./__text-block/__text-block.css");
@import url("./__title/__title.css");
@import url("./__body/__body.css");
@import url("./__price/__price.css");
@import url("./__button/__button.css");

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url("../../images/pricing__background.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 14.44% 0 18.33% 0;
}

@media screen and (max-width: 1280px) {
  .pricing {
    padding: 12% 0 16% 0;
  }
}

@media screen and (max-width: 1024px) {
  .pricing {
    padding: 8% 0 8% 0;
  }
}

@media screen and (max-width: 768px) {
  .pricing {
    background-image: url("../../images/pricing__background(768w).svg");
    padding: 18% 0 18% 0;
  }
}
