.button_color_white {
  background: white;
  color: #091133;
  border: 2px solid #091133;
}

.button_color_white:hover {
  box-shadow: 0 0 5px #091133;
}

.button_color_white:active {
  box-shadow: 1px 1px 5px #091133;
}
