.pricing__title {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  text-align: center;
  color: #222F65;
}

@media screen and (max-width: 768px) {
  .pricing__title {
    font-size: 14px;
    line-height: 23px;
  }
}
