.hero__paragraph {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: #505f98;
}

.hero__paragraph:not(:first-child) {
  margin: 14px 0 0 0;
}

@media screen and (max-width: 768px) {
  .hero__paragraph {
    font-size: 14px;
    line-height: 23px;
  }

  .hero__paragraph:not(:first-child) {
    margin: 6px 0 0 0;
  }
}
