@import url("./__container-uix/__container-uix.css");
@import url("./__copyright/__copyright.css");
@import url("./__text-logo/__text-logo.css");
@import url("./__button/__button.css");
@import url("./__container-links/__container-links.css");
@import url("./__navigation/__navigation.css");
@import url("./__icons/__icons.css");

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4.24% 11.46% 2.5% 11.46%;
  box-sizing: border-box;
  background-color: #E7ECFF;
}
