@import url("./__container/__container.css");
@import url("./__card-container/__card-container.css");
@import url("./__card/__card.css");
@import url("./__image/__image.css");

.mobile-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 742px;
  width: 100%;
  padding: 114px 165px;
  box-sizing: border-box;
}
