@import url("./__container/__container.css");
@import url("./__text-block/__text-block.css");
@import url("./__card-container/__card-container.css");
@import url("./__card/__card.css");
@import url("./__image/__image.css");

.mobile-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 742px;
  width: 100%;
  padding: 7.8% 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .mobile-login {
    min-height: auto;
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .mobile-login {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .mobile-login {
    padding: 10% 0 10% 0;
  }
}
