.hero__button {
  height: 36px;
  width: 189px;
  font-size: 16px;
  font-weight: 500;
}

.hero__button:not(:first-child) {
  margin: 0 0 0 5.9%;
}

@media screen and (max-width: 768px) {
  .hero__button {
    height: 24px;
    width: 140px;
    font-size: 12px;
  }
}
