.pricing__text-block {
  width: 600px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .pricing__text-block {
    width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .pricing__text-block {
    width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .pricing__text-block {
    width: 300px;
  }
}
